<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Zoom Clone</title>
    <style>
        body {
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            color: white;
            font-family: "Poppins", sans-serif;
            min-height: 100vh;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
            margin: auto;
            width: 50%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            border: 5px solid;
            border-image: linear-gradient(to bottom, #2b68c4 0%, #cf2d6e 100%)1;
        }

        #header {
            position: absolute;
            padding-left: 15px;
            font-size: 5rem;
        }

        footer {
            position: absolute;
            margin: auto;
            width: 50%;
        }
    </style>
</head>

<body>
    <h1 id="header">Zoom - Clone</h1>
    <div id="video-grid"></div>
</body>



</html>